/* Style for the number input */
.modern-input {
    padding: 10px;
    border: 0;
    font-size: 16px;
    outline: none; 
 
  }
  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  height: 66px;


}
  
  /* Style for number input on focus */
  .modern-input:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
  }
  .spin{
    width: 30px;
    height: 30px;
         font-weight: bold;
         font-size: 20px;
         line-height: 0;

  }
  .buyNow{
    display: block;
    width: 100%;
    background: #232323;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 24px;
    min-width: 130px;
    max-width: 100%;
    outline: none!important;
    cursor: pointer;
    min-height: 48px;
    position: relative; 
  @media (max-width:786px) {
    width: 300px;
    margin: 0 auto;
  }
  }
    

    .my-3{
        margin: 32px auto;
    }
    .flexCenter{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }

    .mobileSize{
      display: flex;
      flex-direction: column;

      @media (max-width:786px) {
        text-align: center;
      }
    }
    .center{
      @media (max-width:786px) {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
.cart{
  padding: 32px;
  display: flex;
  justify-content: space-around;
  @media (max-width:786px) {
    display: block;
  }
}

.background{
  margin:0 auto;
   background: url(../assests/images/bg.avif); 
   background-size: cover;
  background-repeat: no-repeat;
}
.sperator{
  color: #fba1b7;
}

.flexFontHeader{
  font-size: 72px;
  @media (max-width:786px) {
    font-size: 38px;
  }
}
.flexFontDesc{
    padding: 0 32px;
    font-size: 28px;
  @media (max-width:786px) {
        padding: 0 16px;
        font-size: 22px;

  }
}
.flexPadding{
  padding: 0 32px;
  @media (max-width:786px) {
    padding: 0 16px;

}

}
input[type="radio"] {
  accent-color: #E80f88; /* Newer CSS property */
  width: 16px;
  height: 16px;
  margin-right: 12px;
}