.blurry-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(8px); /* Adjust the blur intensity as desired */
    z-index: -1;
    width: '100%';
    height: '100%';


  }
  .blurry-section{
    margin: 16px auto;
    @media (max-width:786px) {
      margin: 0 auto;
    }
  }
  .cardMargin{
    width: 340px;
    margin: 48px;
    @media (max-width:786px) {
      margin: 16px auto;
      width: 300px;
    }
  }
  .flexBetween{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width:786px) {
      display: block;
    }
  }